.container {
  display: flex;
  justify-content: space-between;
}

.category {
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
