.container {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  margin-bottom: 3px;
}

.image-map {
  display: flex;
  margin-top: 2px;
  gap: 2;
  flex-wrap: wrap;
  & > img {
    margin: 2px;
    border-radius: 5px;
    border: 1px solid var(--foreground-color);
  }
  &--active {
    border: 1px solid var(--accent-color) !important;
  }
}
