.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  & > button {
    margin-left: 5px;
  }

  & > input {
    margin-left: 5px;
    height: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
